<div class="row">
  <div class="large-12 columns">
    <h1>Welcome!</h1>

    <hr>

    <%= link_to "Player 1", game_path(1), class: "button" %>

    <hr>

    <%= link_to "Player 2", game_path(2), class: "button" %>

    <hr>
  </div>
</div>
