<div class="row">
  <h2>This is your table <%= @user.name %></h2>

  <div class="large-6 columns">
    <table>
      <% letters.each do |letter| %>
        <tr>
          <% numbers.each do |number| %>
            <td class="primary callout"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="large-6 columns">
    <table>
      <% letters.each do |letter| %>
        <tr>
          <% numbers.each do |number| %>
            <td class="primary callout"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

</div>
